basicConstraints=CA:FALSE
subjectAltName=@alt_names
subjectKeyIdentifier = hash

[ alt_names ]
DNS.1 = traefik.rasp
DNS.3 = sonarr.rasp
DNS.4 = radarr.rasp
DNS.5 = jackett.rasp
DNS.6 = resilio.rasp
DNS.7 = plex.rasp
DNS.8 = *.rasp
