nzbdrone*
log*
radarr/config/MediaCover/
.env
jackett/config/Jackett/log.txt
.mono
sonarr/config/MediaCover/
updater.txt
Backups
.idea/
run/
traefik/certs/
traefik/ssl/private
traefik/ssl/newcerts
traefik/ssl/*.attr
traefik/ssl/*.old
traefik/ssl/rootCA.crt
