nzbdrone*
log*
radarr/config/MediaCover/
.env
jackett/config/Jackett/log.txt
.mono
sonarr/config/MediaCover/
updater.txt
Backups
.idea/
run/
traefik/csr/*
!traefik/csr/.gitkeep
traefik/certs/*
!traefik/certs/.gitkeep
traefik/ssl/private/*
!traefik/ssl/private/.gitkeep
traefik/ssl/newcerts/*
!traefik/ssl/newcerts/.gitkeep
traefik/ssl/*.attr
traefik/ssl/*.old
traefik/ssl/rootCA.crt
traefik/ssl/.rnd
traefik/ssl/serial
traefik/ssl/index.*
