version: '2'

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: on-failure
    volumes:
    - ${CONFIG_DIR}/nginx/html:/var/www/html:ro
    - ${CONFIG_DIR}/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro
    - ${CONFIG_DIR}/nginx/cert:/etc/nginx/cert:ro
    ports:
    - 80:80
    - 443:443

  radarr:
    image: linuxserver/radarr:arm32v7-0.2.0.1349-ls1
    container_name: radarr
    restart: on-failure
    volumes:
      - ${CONFIG_DIR}/radarr/config/:/config
      - ${MOVIE_DIR}:/movies
      - ${STORAGE_DIR}/radarr:/downloads/radarr
    environment:
      - PGID=1000
      - PUID=993
    env_file:
      - .env

  sonarr:
    image: linuxserver/sonarr:arm32v7-3.0.1.493-ls73
    container_name: sonarr
    restart: on-failure
    volumes:
      - ${CONFIG_DIR}/sonarr/config/:/config
      - ${TV_SHOW_DIR}:/tv
      - ${STORAGE_DIR}/sonarr:/downloads/sonarr
    environment:
      - PGID=1000
      - PUID=994
    env_file:
      - .env
  jackett:
    image: linuxserver/jackett:arm32v7-v0.11.334-ls10
    container_name: jackett
    restart: on-failure
    volumes:
      - ${CONFIG_DIR}/jackett/config/:/config
    environment:
      - PGID=1000
      - PUID=995
    env_file:
      - .env

  resilio:
    image: linuxserver/resilio-sync:arm32v7-2.6.3-ls11
    container_name: resilio
    restart: on-failure
    volumes:
      - ${CONFIG_DIR}/resilio/config/:/config
      - ${CONFIG_DIR}/resilio/downloads/:/downloads
      - ${CONFIG_DIR}/nginx/cert:/cert:ro
      - ${STORAGE_DIR}:/sync
    ports:
      - 55555:55555
      - 8888:8888
    environment:
      - PGID=1000
      - PUID=992
    env_file:
      - .env
