version: "3.3"

services:
  traefik:
    image: "traefik:v2.2"
    container_name: "traefik"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik/certs:/certs"
      - "./traefik/conf:/etc/traefik"
    networks:
      - seedbox
    restart: unless-stopped

  #  whoami:
  #    image: "containous/whoami"
  #    container_name: "simple-service"
  #    labels:
  #      - "traefik.enable=true"
  #      - "traefik.http.routers.whoami.rule=Host(`whoami.localhost`)"
  #      - "traefik.http.routers.whoami.entrypoints=web"
  #    networks:
  #      - seedbox

  plex:
    image: "linuxserver/plex:${PLEX_VERSION}"
    container_name: plex
    environment:
      - "TZ=${TZ}"
      - "PLEX_CLAIM=${PLEX_CLAIM}"
      - "ADVERTISE_IP=https://${PLEX_HOST}"
      - "PUID=${PLEX_UID}"
      - "PGID=${PLEX_GUID}"
      - "VERSION=docker"
    volumes:
      - "${CONFIG_DIR}/plex/config:/config"
      - "${TV_SHOW_DIR}:/tv"
      - "${MOVIE_DIR}:/movies"
    #https://support.plex.tv/articles/201543147-what-network-ports-do-i-need-to-allow-through-my-firewall/
    ports:
      - 32400:32400/tcp
    #      - 3005:3005/tcp
    #      - 8324:8324/tcp
    #      #      - 5353:5353/udp
    #      - 32469:32469/tcp
    #      - 1900:1900/udp
    #      - 32410:32410/udp
    #      - 32412:32412/udp
    #      - 32413:32413/udp
    #      - 32414:32414/udp
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plex.rule=Host(`${PLEX_HOST}`)"
      - "traefik.http.routers.plex.tls"
      - "traefik.http.services.plex.loadbalancer.server.port=32400"
    networks:
      - seedbox

  radarr:
    image: "linuxserver/radarr:${RADARR_VERSION}"
    container_name: radarr
    restart: unless-stopped
    links:
      - jackett
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`${RADARR_HOST}`)"
      - "traefik.http.routers.radarr.tls"
    volumes:
      - "${CONFIG_DIR}/radarr/config/:/config"
      - "${MOVIE_DIR}:/movies"
      - "${STORAGE_DIR}/radarr:/downloads/radarr"
    environment:
      - "PUID=${RADARR_UID}"
      - "PGID=${RADARR_GUID}"
    networks:
      - seedbox

  sonarr:
    image: "linuxserver/sonarr:${SONARR_VERSION}"
    container_name: sonarr
    restart: unless-stopped
    links:
      - jackett
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.rule=Host(`${SONARR_HOST}`)"
      - "traefik.http.routers.sonarr.tls"
    volumes:
      - "${CONFIG_DIR}/sonarr/config/:/config"
      - "${TV_SHOW_DIR}:/tv"
      - "${STORAGE_DIR}/sonarr:/downloads/sonarr"
    environment:
      - "PUID=${SONARR_UID}"
      - "PGID=${SONARR_GUID}"
    networks:
      - seedbox

  jackett:
    image: "linuxserver/jackett:${JACKETT_VERSION}"
    container_name: jackett
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jackett.rule=Host(`${JACKETT_HOST}`)"
      - "traefik.http.routers.jackett.tls"
    volumes:
      - "${CONFIG_DIR}/jackett/config/:/config"
    environment:
      - "PUID=${JACKETT_UID}"
      - "PGID=${JACKETT_GUID}"
    networks:
      - seedbox

  resilio:
    image: "linuxserver/resilio-sync:${RESILIO_VERSION}"
    container_name: resilio
    restart: unless-stopped
    volumes:
      - "${CONFIG_DIR}/resilio/config/:/config"
      - "${CONFIG_DIR}/resilio/downloads/:/downloads"
      - "${CONFIG_DIR}/nginx/cert:/cert:ro"
      - "${STORAGE_DIR}:/sync"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.resilio.rule=Host(`${RESILIO_HOST}`)"
      - "traefik.http.routers.resilio.tls"
      - "traefik.http.services.resilio.loadbalancer.server.port=8888"
    ports:
      - 55555:55555
    environment:
      - "PUID=${RESILIO_UID}"
      - "PGID=${RESILIO_GUID}"
    networks:
      - seedbox
  ombi:
    image: "linuxserver/ombi:${OMBI_VERSION}"
    container_name: ombi
    environment:
      - "PUID=${OMBI_UID}"
      - "PGID=${OMBI_GUID}"
    volumes:
      - "${CONFIG_DIR}/ombi/config/:/config"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ombi.rule=Host(`${OMBI_HOST}`)"
      - "traefik.http.routers.ombi.tls"
    restart: unless-stopped
    networks:
      - seedbox


networks:
  seedbox:
    driver: bridge
    ipam:
      config:
        - subnet: 172.31.0.0/16
