version: '3'

services:
  radarr:
    image: linuxserver/radarr:arm32v7-0.2.0.1349-ls1
    container_name: radarr
    user: "radarr:custom_services"
    restart: unless-stopped
    ports:
      - 7878:7878
    volumes:
      - ${CONFIG_DIR}/radarr/config/:/config
      - ${MOVIE_DIR}:/movies
      - ${STORAGE_DIR}/radarr:/downloads/radarr
    environment:
      - PGID=1000
      - PUID=993
    env_file:
      - .env

  sonarr:
    image: linuxserver/sonarr:arm32v7-3.0.1.493-ls73
    container_name: sonarr
    restart: unless-stopped
    user: "sonarr:custom_services"
    ports:
      - 8989:8989
    volumes:
      - ${CONFIG_DIR}/sonarr/config/:/config
      - ${TV_SHOW_DIR}:/tv
      - ${STORAGE_DIR}/sonarr:/downloads/sonarr
    environment:
      - PGID=1000
      - PUID=994
    env_file:
      - .env
  jackett:
    image: linuxserver/jackett:arm32v7-v0.11.334-ls10
    container_name: jackett
    user: "jackett:custom_services"
    restart: unless-stopped
    ports:
      - 9117:9117
    volumes:
      - ${CONFIG_DIR}/jackett/config/:/config
    environment:
      - PGID=1000
      - PUID=995
    env_file:
      - .env

  sync:
    image: linuxserver/resilio-sync:arm32v7-2.6.3-ls11
    container_name: sync
    user: "resilio:custom_services"
    restart: unless-stopped
    volumes:
      - ${CONFIG_DIR}/resilio/config/:/config
      - ${CONFIG_DIR}/resilio/downloads/:/downloads
      - ${STORAGE_DIR}:/data
    ports:
      - 55555:55555
      - 8888:8888
    environment:
      - PGID=1000
      - PUID=992
    env_file:
      - .env
