version: "3.3"

services:
  traefik:
    image: "traefik:v2.2"
    container_name: "traefik"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik/certs:/certs"
      - "./traefik/conf:/etc/traefik"
    networks:
      - seedbox

  #  whoami:
  #    image: "containous/whoami"
  #    container_name: "simple-service"
  #    labels:
  #      - "traefik.enable=true"
  #      - "traefik.http.routers.whoami.rule=Host(`whoami.localhost`)"
  #      - "traefik.http.routers.whoami.entrypoints=web"
  #    networks:
  #      - seedbox

  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    restart: unless-stopped
    volumes:
      - "${CONFIG_DIR}/pihole/:/etc/pihole/"
      - "${CONFIG_DIR}/dnsmasq.d/:/etc/dnsmasq.d/"
      - "${CONFIG_DIR}/resolv.conf:/etc/resolv.conf"
    cap_add:
      - NET_ADMIN
    environment:
      - TZ=${TZ}
      - WEBPASSWORD=${PIHOLE_PASSWORD}
      - VIRTUAL_HOST=${PIHOLE_HOST}
      - ServerIP=${PIHOLE_IP}
      - DNS1=${PIHOLE_DNS1}
      - DNS2=${PIHOLE_DNS2}
      - DNSMASQ_LISTENING=all
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pihole.rule=Host(`${PIHOLE_HOST}`)"
      - "traefik.http.routers.pihole.tls"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"
    networks:
      seedbox:
        ipv4_address: '172.31.0.100'

  dhcphelper:
    build: ./dhcp-helper
    container_name: dhcphelper
    restart: unless-stopped
    network_mode: "host"
    command: -s 172.31.0.100
    cap_add:
      - NET_ADMIN

  plex:
    image: "linuxserver/plex:${PLEX_VERSION}"
    container_name: plex
    environment:
      - "TZ=${TZ}"
      - "PLEX_CLAIM=${PLEX_CLAIM}"
      - "ADVERTISE_IP=http://${PLEX_HOST}"
      - "PLEX_UID=${PLEX_UID}"
      - "PLEX_GID=${PLEX_GUID}"
      - "VERSION=docker"
    volumes:
      - "${CONFIG_DIR}/plex/config:/config"
      - "${TV_SHOW_DIR}:/tv"
      - "${MOVIE_DIR}:/movies"
    #https://support.plex.tv/articles/201543147-what-network-ports-do-i-need-to-allow-through-my-firewall/
    ports:
      - 3005:3005/tcp
      # - 8324:8324/tcp
      - 32469:32469/tcp
      - 1900:1900/udp
    # - 32410:32410/udp
    # - 32412:32412/udp
    # - 32413:32413/udp
    # - 32414:32414/udp
    restart: on-failure
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plex.rule=Host(`plex.localhost`)"
      - "traefik.http.routers.plex.tls"
      - "traefik.http.services.plex.loadbalancer.server.port=32400"
    networks:
      - seedbox

  radarr:
    image: "linuxserver/radarr:${RADARR_VERSION}"
    container_name: radarr
    restart: on-failure
    links:
      - jackett
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`${RADARR_HOST}`)"
      - "traefik.http.routers.radarr.tls"
    volumes:
      - "${CONFIG_DIR}/radarr/config/:/config"
      - "${MOVIE_DIR}:/movies"
      - "${STORAGE_DIR}/radarr:/downloads/radarr"
    environment:
      - "PUID=${RADARR_UID}"
      - "PGID=${RADARR_GUID}"
    networks:
      - seedbox

  sonarr:
    image: "linuxserver/sonarr:${SONARR_VERSION}"
    container_name: sonarr
    restart: on-failure
    links:
      - jackett
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.rule=Host(`${SONARR_HOST}`)"
      - "traefik.http.routers.sonarr.tls"
    volumes:
      - "${CONFIG_DIR}/sonarr/config/:/config"
      - "${TV_SHOW_DIR}:/tv"
      - "${STORAGE_DIR}/sonarr:/downloads/sonarr"
    environment:
      - "PUID=${SONARR_UID}"
      - "PGID=${SONARR_GUID}"
    networks:
      - seedbox

  jackett:
    image: "linuxserver/jackett:${JACKETT_VERSION}"
    container_name: jackett
    restart: on-failure
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jackett.rule=Host(`${JACKETT_HOST}`)"
      - "traefik.http.routers.jackett.tls"
    volumes:
      - "${CONFIG_DIR}/jackett/config/:/config"
    environment:
      - "PUID=${JACKETT_UID}"
      - "PGID=${JACKETT_GUID}"
    networks:
      - seedbox

  resilio:
    image: "linuxserver/resilio-sync:${RESILIO_VERSION}"
    container_name: resilio
    restart: on-failure
    volumes:
      - "${CONFIG_DIR}/resilio/config/:/config"
      - "${CONFIG_DIR}/resilio/downloads/:/downloads"
      - "${CONFIG_DIR}/nginx/cert:/cert:ro"
      - "${STORAGE_DIR}:/sync"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.resilio.rule=Host(`${RESILIO_HOST}`)"
      - "traefik.http.routers.resilio.tls"
      - "traefik.http.services.resilio.loadbalancer.server.port=8888"
    ports:
      - 55555:55555
    environment:
      - "PUID=${RESILIO_UID}"
      - "PGID=${RESILIO_GUID}"
    networks:
      - seedbox

networks:
  seedbox:
    driver: bridge
    ipam:
      config:
        - subnet: 172.31.0.0/16